// span{
//     width: 100%;
//     text-align: center;
//     font-size: 16px;
//     padding: 20px 0;
//     font-weight: 500;
//     font-size: 18px;
//     color: var(--color-primary);
//     line-height: 1.2rem;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.05);
//   }
  .menu-trigger svg{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0 , 0.2);
    z-index: 1;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--color-white);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--transition)
  }
  
.dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  .dropdown-menu ul li:nth-child(1) {
    border-top: none;
  }
  .dropdown-menu ul li h3{
    font-size: 18px;
    color: var(--color-primary);
    text-align: center;
  } 
  .dropdown-menu ul li a{
    display: flex;
    margin: 10px auto;
    color: var(--color-primary);
    font-weight: 600;
  }
  .dropdown-menu ul li:hover a{
    color: var(--color-danger);
    cursor: pointer;
  }