.container .introduction {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    .intro-left img{
        width: 100%;
    }
    .intro-right h1 {
        margin-top: 4rem;
        color: var(--color-primary);
    }
    .intro-right > p {
        margin: 1.6rem 0 2.5rem;
        color: var(--color-primary);
    }
    .intro-right .button-scroll {
        background: var(--color-bg);
        border: 2px solid var(--color-primary);
        padding: 7px 5px;
        border-radius: 10px;
        font-weight: 700;
        float: right;
        margin-right: 20px;
    }
    .intro-right .button-scroll:hover {
        background: var(--color-primary);
        color: var(--color-bg);
    }

}
.starting-card {
    margin: 40px 0;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 40px;
    h1{
        margin-top: 20px;
        text-align: center;
    }
    .starting-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 40px;
        article{
            background-color: var(--color-primary);
            color: var(--color-bg);
            padding: 1.6rem;
            border-radius: 1rem;
            text-align: center;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0 , 0.2);
            .starting_icon {
                font-size: 40px;
            }
            p {
                margin-top: 15px;
            }
        }
    }
}
.create-profile-form {
    h2{
        text-align: center;
    }
}