.houses-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
    a {
        color: var(--color-primary);
    }
}
.property-types {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    list-style: none;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  
  .property-types li {
    flex: 1 0 auto;
    max-width: 250px;
    margin: 0.5rem;
  }
  
  .property-types li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: var(--color-primary);
    padding-bottom: 10px;
  }
  
  .property-types li button.active {
    transform: scale(1.05);
    border-bottom: 3px solid var(--color-primary);
  }
  
  .property-types li img {
    width: 20px;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .property-types li span {
    text-align: center;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .houses-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .property-types {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (max-width: 480px) {
    .property-types {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    
  }