@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{

  --color-primary: #1c1518;
  --color-success: #274690;
  --color-warning: #f1b24a;
  --color-danger: #E4341B;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;

  --color-bg: #eceadf;

  --container-width-lg: 90%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Noto Sans', sans-serif;                                 
  line-height: 1.7;
  color: var(--color-primary);
  background: var(--color-bg);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}